<% images.each_with_index do |img, i| %>
  <div class="item <%= 'active' if i == 0 %>">
    <%= image_tag (public_dir + img), :class => 'img-responsive', :style => 'max-height: 200px;' %>
  </div>
<% end %>
